@model Coffee.Entities.Payment

@{
    ViewBag.Title = "Accept";
}

<h2>Accept</h2>

@using (Html.BeginForm())
{
    <span>@Model.Credit.ToString()</span>
    <span>Amount of payment:</span>
    @Html.TextBoxFor(x => x.Amount)
    <!-- submit -->
}