@model Coffee.Entities.Payment

@{
    ViewBag.Title = "Accept";
}

<h2>Accept</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <span>@Model.Credit.ToString()</span>
    <span>Amount of payment:</span>
    @Html.TextBoxFor(x => x.Amount)
    @Html.HiddenFor(x => x.Credit.Id)
    <input type="submit" value="Accept" />
}