@model List<Coffee.Entities.CreditRequest>

@{
    ViewBag.Title = "ApprovedList";
}

<h2>ApprovedList</h2>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Line</td>
            <td>Amount</td>
            <td>Open</td>
        </tr>
    </thead>
    <tbody>
@foreach (Coffee.Entities.CreditRequest req in Model)
{
        <tr>
            <td>@req.PassportInfo.FullName</td>
            <td>@req.CreditLine.Name</td>
            <td>@req.Amount</td>
            <td>@Html.ActionLink("Open credit", "OpenCredit", new RouteValueDictionary() { { "reqId", req.Id } })</td>
        </tr>
}
    </tbody>
</table>
