@model Coffee.WebUi.Models.Request.CreditRequest

@{
    ViewBag.Title = "Details";
}

@{Html.BeginForm(FormMethod.Post);}
<div class="toLeft">
    @{Html.RenderPartial("partials/_EditCreditRequest", Model);}
</div>
<div class="toLeft">
    @{Html.RenderPartial("partials/_EditPassportInfo", Model);}
</div>
<div class="clear"></div>

<div id="detailed-credit-request-actions">
    <input type="submit" class="btn btn-success" value="Save changes and check for the acceptance" />
    <input type="submit" class="btn btn-primary" value="Save changes and view calendar of payments" />
    @if(Model.CreditLine != null && Model.CreditLine.IsAcceptable(Model.GetAdaptee())){
    <input type="submit" class="btn btn-danger"  value="Open credit" />
    } else {
    <input type="submit" class="btn btn-danger" disabled="disabled" value="Open credit" />
    }
</div>
@{Html.EndForm();}
