@model Coffee.WebUi.Models.Request.CreditRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BankWorkerLayout.cshtml";
}

@section requestsActive{active}

@{Html.BeginForm(FormMethod.Post);}
<div class="toLeft">
    @{Html.RenderPartial("partials/_EditCreditRequest", Model);}
</div>
<div class="toLeft">
    @{Html.RenderPartial("partials/_EditPassportInfo", Model);}
</div>
<div class="clear"></div>

<div id="detailed-credit-request-actions">
    <input type="submit" class="btn btn-success" name="ActionEdit" value="Save changes and check for the acceptance" />
    <input type="submit" class="btn btn-primary" name="ActionViewPayments" value="Save changes and view calendar of payments" />
    <input type="submit" class="btn btn-warning" name="ActionTentative" value="Submit as tentative" />
    @if(Model.CreditLine != null && Model.CreditLine.IsAcceptable(Model.GetAdaptee())){
    <input type="submit" class="btn btn-danger" name="ActionOpenCreditLine"  value="Open credit" />
    } else {
    <input type="submit" class="btn btn-danger" name="ActionOpenCreditLine" disabled="disabled" value="Open credit" />
    }
</div>
@{Html.EndForm();}
