@model Coffee.WebUi.Models.RequestsPlusCreditProposesModel

@{
    Layout = "~/Views/Shared/_BankWorkerLayout.cshtml";
    ViewBag.Title = "ListForUser";
}

@section javascript
{
    <script type="text/javascript" src="@Url.Content("~/Content/js/lib/jquery.form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/listRequestsForUser.js")"></script>
}

@section myRequestsActive{active}

<div class="center-info">
@if (Model.Requests.Count == 0)
{ 
<div><i>No credit requests.</i></div>
}
else
{
<table id="list-of-requests" class="all-available-width">
    <tr>
        <td>Money/duration</td>
        <td>Credit product</td>
        <td>Month salary</td>
        <td>Passport number</td>       
        <td></td>
    </tr>
@foreach (var pair in Model.GetRequestPlusBusinessProposesList())
{ 
    <tr class="view like-a-form" data-update-url="@Url.Action("AjaxUpdateRequest", "Request")">@{Html.RenderPartial("_RowForTheUserCreditRequest", pair);}</tr>
}
</table>
}
</div>
