@model Coffee.Entities.CreditRequest

@{
    ViewBag.Title = "Success";
}

<div class="center-info">
    <h2>Credit request has been sucessfuly created.</h2>
    <div>
        <p>Go to our bank in 2 weeks with passport <b>@Model.PassportInfo.PassportNumber</b></p>
    </div>
</div>