@{
    ViewBag.Title = "Index";
}
<div id="user-home-content" class="anonimus">
    <div class="toLeft">
        @Html.ActionLink("Add credit request", "New", "Request", null, new { @class="btn"} )
    </div>
    <div class="toLeft">
        @Html.ActionLink("View our credit lines", "SelectCreditLine", "Request", null, new { @class = "btn" })
</div>
</div>
<div class="clear"> 
</div>

