@{
    ViewBag.Title = "Index";
}

<div class="toLeft">
    @Html.ActionLink("Add credit request", "New", "Request")
</div>
<div class="toRight">
    @Html.ActionLink("Add credit request", "SelectCreditLine", "Request")
</div>
<div class="clear"> 
</div>

