@{
    ViewBag.Title = "UserHome";
}

<div id="user-home-content" class="all-available-width">
<div class="toLeft home-action-container">
    @Html.ActionLink("Add credit request", "New", "Request", null, new { @class= "btn"})
</div>
<div class="toLeft home-action-container">
    @Html.ActionLink("View our credit lines", "SelectCreditLine", "Request", null, new { @class = "btn" })
</div>
@if (Model["hasRequests"])
{
<div class="toLeft home-action-container">
    @Html.ActionLink("Your credit requests", "List", "Request", null, new { @class = "btn" })
</div>
}
<div class="clear"> 
</div>
</div>