<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CoffeeDb" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=CoffeeBank;Integrated Security=false;User ID=CoffeeApp;Password=coffeeapp" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>