#main{
    width: 1200px;
    margin: 0 auto;
}

#log-on-part, .center-info{
    text-align:center;
    width: 600px;
    margin-left: 300px;
}

#public-request-area>h2
{
    margin-bottom: 30px;
    }
#public-request-area>form>div
{
    margin-bottom: 15px;
    }    


.inline-block *{
    display: inline;
}

#remember-me-block>input{
    margin-left: 1em;
}