#main{
    width: 1200px;
    margin: 0 auto;
}

header
{
   text-align:center;
    }
    
header h1>A, header h1>a:focus, header h1>a:hover
{
    color: Black;
    }    


#log-on-part, .center-info{
    text-align:center;
    width: 600px;
    margin-left: 300px;
}

#public-request-area>h2
{
    margin-bottom: 30px;
    }
#public-request-area>form>div
{
    margin-bottom: 15px;
    }    


.inline-block *{
    display: inline;
}

#remember-me-block>input{
    margin-left: 1em;
}

.no-decoration, .no-decoration:hover, .no-decoration:focus
{
    text-decoration: none;
    }

/**
-----------------------------------------------
public credit requests
*/
    
input.select-credit-product-checkbox
{
    margin-right: 0.2em;
    }
#public-list-of-credit-lines
{
    margin-bottom: 1em;
    }