@model List<Coffee.Entities.CreditLine>

<div class="text-center" id="representative-list-of-credit-lines-caption">
    <h2>Available credit products:</h2>
    @Html.ActionLink("Register New Credit Request", "New", "Request", null, new { @class = "btn btn-large btn-primary"})
</div>

@{Html.RenderPartial("partials/_ListContent", Model);}
